[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
argcomplete = "*"
colorama = "*"
humanize = "*"
jsonschema = "*"
paramiko = "*"
pick = "*"
resource_pool = "*"
rich = "*"
trio = "*"
PyYAML = "*"

[requires]
python_version = "3.8.5"
